body { 
  margin: 0;
  padding: 0;
  background: #00ac69;
  color: #0E4C43;
  font-family: lucida Grande;
  font-size: 75%;
}

#headWrap {
  width: 100%;
  height: 213px;
  margin: 0;
  padding: 0;
  float: left;
  background: url(images/headBg.jpg) repeat-x;
}

#headpanel {
  width: 934px;
  height: 213px;
  margin: 0 auto;
  padding: 0;
}

#logo { 
  float: left;
  height: 53px;
  margin: 10px 0 0;
  padding: 0;
}
  
#logo img {
  float: left;
  width: 100px;
}

#logo h1 {
  color: #FFF;
  font: bold 46px/50px Tahoma;
  margin: 0;
  padding: 0;
}

#quots {
  width: 290px;
  height: 73px;
  margin: 61px 0 0 0;
  padding: 0 30px 0;
  float: right;
  text-indent: -9999px;
  background: url(images/quots.jpg) no-repeat;
}

#menu {
  width: 934px;
  height: 28px;
  margin: 122px 0 0;
  padding: 0;
  float: left;
}

#menu ul {
  width: 934px;
  height: 28px;
  margin: 0;
  padding: 0;
  float: left;
  display: block;
}

#menu ul li {
  width: auto;
  height: 28px;
  margin: 0 20px;
  padding: 0;
  float: left;
  display: block;
}
  
#menu ul li.first {
  margin-left: 0;
}

#menu ul li .gap {
  width: 1px;
  height: 28px;
  margin: 0;
  padding: 0 11px 0 11px;
  float: left;
  background: url(images/menuspace.jpg) no-repeat center top;
}

#menu ul li a {
  width: auto;
  height: 28px;
  margin: 0;
  padding: 0;
  float: left;
  color: #e5df85;
  font: bold 12px/18px Arial;
  text-decoration: none;
}

#menu ul li a:hover {
  color: #FFF;
  background: url(images/menuHover.jpg) no-repeat center bottom;
}

#contentWrap {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  background: #fffcd5 url(images/contentBg.jpg) repeat-x;
}

#contentPanel {
  width: 934px;
  margin: 0 auto;
  padding: 33px 0 0 0;
}

#leftPanel {
  width: 220px;
  margin: 0;
  padding: 0 0 34px 0;
  float: left;
  border-right: #c6d09d dashed 1px;
}

#leftPanel .toplinks {
  width: 259px;
  margin: 0;
  padding: 0;
  float: left;
}

#leftPanel .toplinks h2 {
  width: 224px;
  margin: 0;
  padding: 0;
  float: left;
  color: #000;
  font: normal 20px/24px Georgia;
}

#leftPanel .toplinks h3 {
  width: 224px;
  margin: 5px 0 0 0;
  padding: 0;
  float: left;
  color: #005b7f;
  font: bold 12px/16px Arial;
}

#leftPanel .toplinks p {
  width: 224px;
  margin: 10px 0 0 0;
  padding: 0;
  float: left;
  color: #252525;
  font: 12px/16px Arial;
}

#leftPanel .toplinks ul {
  width: 224px;
  margin: 8px 0 0 0;
  padding: 0;
  float: left;
  display: block;
}

#leftPanel .toplinks ul li {
  width: 224px;
  margin: 0;
  padding: 0;
  float: left;
  display: block;
}

#leftPanel .toplinks ul li a {
  width: 205px;
  height: 19px;
  margin: 0;
  padding: 0 0 0 19px;
  float: left;
  color: #363636;
  font: 12px/16px Arial;
  text-decoration: none;
  border-bottom: #c6d09d solid 1px;
  background: url(images/lisstyle.jpg) no-repeat 0 -18px;
}

#leftPanel .toplinks ul li a:hover {
  color: #c46706;
  background: #FFF url(images/lisstyle.jpg) no-repeat;
}

#leftPanel .toplinks ul li a.bottom {
  width: 205px;
  height: 19px;
  margin: 0;
  padding: 0 0 0 19px;
  float: left;
  color: #363636;
  font: 12px/16px Arial;
  text-decoration: none;
  border-bottom: 0;
  background: url(images/lisstyle.jpg) no-repeat 0 -18px;
}

#leftPanel .toplinks ul li a.bottom:hover {
  color: #c46706;
  background: #FFF url(images/lisstyle.jpg) no-repeat;
}

#loginPanel {
  width: 224px;
  margin: 31px 0 0 0;
  padding: 0;
  float: left;
}

#loginPanel h2 {
  width: 224px;
  margin: 0;
  padding: 0;
  float: left;
  color: #000;
  font: normal 20px/24px Georgia;
}

#loginPanel h3 {
  width: 224px;
  margin: 5px 0 0 0;
  padding: 0;
  float: left;
  color: #005b7f;
  font: bold 12px/16px Arial;
}

#loginPanel input {
  width: 98px;
  height: 17px;
  margin: 11px 0 0 0;
  padding: 2px 0 0 5px;
  float: left;
  font: 10px Arial;
  color: #363636;
  border: 0;
  background: #f3efc0;
}

#loginPanel .blank {
  width: 11px;
  height: 10px;
  margin: 0;
  padding: 0;
  float: left;
}

#loginPanel p {
  width: 218px;
  margin: 9px 0 0 0;
  padding: 0 0 0 6px;
  float: left;
  color: #252525;
  font: bold 11px Arial;
}

#loginPanel p a {
  color: #d25930;
  text-decoration: none;
}

#loginPanel .login {
  width: 55px;
  height: 16px;
  margin: 5px 0 0 0;
  margin-left: 5px;
  padding: 0;
  float: left;
  color: #000;
  font: 10px/14px Arial;
  text-align: center;
  text-decoration: none;
  border: #bdbcbd solid 1px;
  background: #FFF;
}

#loginPanel .login:hover {
  background: #CCC;
}

#projectsPanel {
  width: 230px;
  margin: 42px 0 0 0;
  padding: 0;
  float: left;
}

#projectsPanel h2 {
  width: 224px;
  margin: 0;
  padding: 0;
  float: left;
  color: #000;
  font: normal 20px/24px Georgia;
}

#projectsPanel h3 {
  width: 224px;
  margin: 5px 0 0 0;
  padding: 0;
  float: left;
  color: #005b7f;
  font: bold 11px/16px Arial;
}

#projectsPanel .pic1 {
  width: 105px;
  height: 83px;
  margin: 10px 0 0 0;
  padding: 0;
  float: left;
  background: url(images/pic1.jpg) no-repeat;
}

#projectsPanel .pic2 {
  width: 105px;
  height: 83px;
  margin: 10px 0 0 0;
  padding: 0;
  float: left;
  background: url(images/pic2.jpg) no-repeat;
}

#projectsPanel .blank {
  width: 20px;
  height: 10px;
  margin: 10px 0 0 0;
  padding: 0;
  float: left;
}

#projectsPanel a {
  width: 55px;
  height: 16px;
  margin: 7px 0 0 0;
  margin-left: 5px;
  padding: 0;
  float: right;
  color: #000;
  font: 10px/14px Arial;
  text-align: center;
  text-decoration: none;
  border: #bdbcbd solid 1px;
  background: #FFF;
}

#projectsPanel a:hover {
  background: #CCC;
}

#middlePanel {
  float: left;
margin: 0;
padding: 0 0 38px 32px;
width: 680px;
}

#middlePanel .top {
  width: 350px;
  margin: 0;
  padding: 0 0 0 3px;
  float: left;
}

#middlePanel .top h2 {
  width: 350px;
  margin: 0;
  padding: 0;
  float: left;
  color: #000;
  font: normal 28px/32px Georgia;
}

#middlePanel .top h3 {
  width: 350px;
  margin: 9px 0 0 0;
  padding: 0;
  float: left;
  color: #005b7f;
  font: bold 12px/16px Arial;
}

#middlePanel .top p {
  width: 350px;
  margin: 16px 0 0 0;
  padding: 0;
  float: left;
  color: #363636;
  font: 12px/16px Arial;
}

#middlePanel .top p span {
  color: #c46706;
  font-weight: bold;
}

#middlePanel .top a {
  width: 75px;
  height: 16px;
  margin: 10px 0 0 0;
  padding: 0;
  float: left;
  color: #000;
  font: 10px/14px Arial;
  text-align: center;
  text-decoration: none;
  border: #bdbcbd solid 1px;
  background: #FFF;
}

#middlePanel .top a:hover {
  background: #CCC;
}

#middlePanel .bottom {
  width: 358px;
  margin: 32px 0 0 0;
  padding: 0;
  float: left;
}

#middlePanel .bottom h2 {
  width: 350px;
  margin: 0;
  padding: 0 0 0 3px;
  float: left;
  color: #000;
  font: normal 25px/29px Georgia;
}

#middlePanel .bottom h3 {
  width: 350px;
  margin: 12px 0 0 0;
  padding: 0 0 0 3px;
  float: left;
  color: #005b7f;
  font: bold 12px/16px Arial;
}

#middlePanel .bottom .pic3 {
  width: 358px;
  height: 109px;
  margin: 19px 0 0 0;
  padding: 0;
  float: left;
  background: url(images/pic3.jpg) no-repeat;
}

#middlePanel .bottom ul {
  width: 349px;
  margin: 16px 0 0 0;
  padding: 0;
  float: left;
  display: block;
}

#middlePanel .bottom ul li {
  width: 349px;
  margin: 0;
  padding: 0;
  float: left;
  display: block;
}

#middlePanel .bottom ul li a {
  width: 334px;
  height: 24px;
  margin: 0;
  padding: 0 0 0 15px;
  float: left;
  color: #1e2316;
  font: 12px/20px Arial;
  text-decoration: none;
  border-bottom: #8bb5a2 dashed 1px;
  background: url(images/liststyle.jpg) no-repeat;
}

#middlePanel .bottom ul li a:hover {
  color: #c46706;
  background: url(images/liststyle.jpg) no-repeat 0 -24px;
}

#middlePanel .bottom ul li a.bottom {
  width: 334px;
  height: 24px;
  margin: 0;
  padding: 0 0 0 15px;
  float: left;
  color: #1e2316;
  font: 12px/20px Arial;
  text-decoration: none;
  border-bottom: 0;
  background: url(images/liststyle.jpg) no-repeat;
}

#middlePanel .bottom ul li a.bottom:hover {
  color: #c46706;
  background: url(images/liststyle.jpg) no-repeat 0 -24px;
}

#rigtPanel {
  width: 218px;
  margin: 0;
  padding: 0 0 0 35px;
  float: left;
}

#rigtPanel .services {
  width: 218px;
  margin: 0;
  padding: 0;
  float: left;
}

#rigtPanel .services h2 {
  width: 218px;
  margin: 0;
  padding: 0;
  float: left;
  color: #000;
  font: normal 20px/24px Georgia;
}

#rigtPanel .services ul {
  width: 218px;
  margin: 23px 0 0 0;
  padding: 0;
  float: left;
  display: block;
}

#rigtPanel .services ul li {
  width: 218px;
  margin: 0;
  padding: 0 0 23px 0;
  float: left;
  display: block;
}

#rigtPanel .services ul li .cal {
  width: 45px;
  height: 44px;
  margin: 0;
  padding: 15px 0 0 0;
  float: left;
  color: #3bb000;
  font: 20px/24px Arial;
  text-align: center;
  background: url(images/calendar.jpg) no-repeat;
}

#rigtPanel .services ul li .cal span {
  width: 45px;
  float: left;
  padding: 0;
  color: #FFF;
  text-align: center;
  font: bold 11px Arial;
  margin: 0;
}

#rigtPanel .services ul li h2 {
  width: 164px;
  margin: 0;
  padding: 0 0 0 7px;
  float: left;
  color: #4f790a;
  font: bold 12px/16px Arial;
}

#rigtPanel .services ul li p {
  width: 165px;
  margin: 5px 0 0 0;
  padding: 0 0 0 7px;
  float: left;
  color: #252525;
  font: 12px/16px Arial;
  text-indent: 20px;
  background: url(images/star.jpg) no-repeat 7px 0;
}

#rigtPanel .services ul li a {
  width: 218px;
  margin: 14px 0 0 0;
  padding: 0;
  float: left;
  color: #c46706;
  font: bold 11px/15px Arial;
}

#rigtPanel .services ul li a:hover {
  text-decoration: none;
}

#rigtPanel .services ul li .author {
  width: 186px;
  height: 21px;
  margin: 14px 0 0 0;
  padding: 0 0 0 32px;
  float: left;
  color: #343434;
  font: 11px/20px Arial;
  background: #fefde7 url(images/author.jpg) no-repeat 10px 0;
}

#rigtPanel .services ul li .author span {
  font-weight: bold;
}

#rigtPanel .contacts {
  width: 200px;
  margin: 16px 0 0 0;
  padding: 0;
  float: left;
}

#rigtPanel .contacts h2 {
  width: 200px;
  margin: 0;
  padding: 0 0 3px 0;
  float: left;
  color: #000;
  font: normal 20px/24px Georgia;
}

#rigtPanel .contacts input {
  width: 191px;
  height: 17px;
  margin: 7px 0 0 0;
  padding: 3px 0 0 9px;
  float: left;
  font: 10px Arial;
  color: #363636;
  border: 0;
  background: #f3efc0;
}

#rigtPanel .contacts textarea {
  width: 191px;
  height: 58px;
  margin: 7px 0 0 0;
  padding: 3px 0 0 9px;
  float: left;
  font: 10px Arial;
  color: #363636;
  border: 0;
  background: #f3efc0;
}

#rigtPanel .contacts a {
  width: 55px;
  height: 16px;
  margin: 10px 0 0 0;
  margin-left: 5px;
  padding: 0;
  float: left;
  color: #000;
  font: 10px/14px Arial;
  text-align: center;
  text-decoration: none;
  border: #bdbcbd solid 1px;
  background: #FFF;
}

#rigtPanel .contacts a:hover {
  background: #ccc;
}

#footWrap {
  width: 100%;
  margin: 0;
  padding: 0 0 26px 0;
  float: left;
}

#footPanel {
  width: 934px;
  margin: 0 auto;
  padding: 0;
}

#footNav {
  width: 934px;
  margin: 20px 0 0 0;
  padding: 0;
  float: left;
}

#footNav ul {
  width: 558px;
  margin: 0 auto;
  padding: 0;
  display: block;
}

#footNav ul li {
  width: auto;
  margin: 0;
  padding: 0;
  float: left;
  display: block;
}

#footNav ul li .blank {
  width: auto;
  margin: 3px 0 0 0;
  padding: 0 10px 0 10px;
  float: left;
  color: #e5df85;
  font: bold 12px/16px Arial;
}

#footNav ul li a {
  color: #e5df85;
  font: bold 12px/16px Arial;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#footNav ul li a:hover {
  text-decoration: underline;
}

#footPanel p {
  width: 934px;
  margin: 12px 0 0 0;
  padding: 0;
  float: left;
  color: #fffcd5;
  font: bold 11px/15px Arial;
  text-align: center;
}

#footPanel p a {
  color: #e5df85;
  text-decoration: none;
}

#footPanel p a:hover {
  text-decoration: underline;
}

#validation {
  width: 934px;
  margin: 10px 0 0 0;
  padding: 0;
  float: left;
}

#validation ul {
  width: 143px;
  margin: 0 auto;
  padding: 0;
  display: block;
}

#validation ul li {
  width: auto;
  margin: 0;
  padding: 0;
  float: left;
  display: block;
}

#validation ul li .blank {
  width: 7px;
  height: 10px;
  margin: 0;
  padding: 0;
  float: left;
}

#validation ul li a { 
  width: 64px;
  height: 23px;
  margin: 0;
  padding: 0 3px 0 0;
  float: left;
  color: #100703;
  font: bold 11px/23px Arial;
  text-align: center;
  text-decoration: none;
  background: url(images/validationBg.jpg) no-repeat; 
}

.tabs li {
  display: inline;
  margin-right: 5px;
}
.tabs {
  margin-bottom: 10px;
}

span#site-name {
  color: #1F2420;
  float: left;
  font-size: 52px;
  margin-top: 20px;
}

#logo a {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #00AC67;
}

a:hover {
  text-decoration: underline;
}

#user-login-form {
  text-align: left;
}

#user-login-form ul {
  padding: 10px 0;
}

#user-login-form .item-list ul li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
